<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/plain :: layout(~{::title}, ~{::#content})}">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title th:text="${message}"></title>
</head>
<body class="c-app c-dark-theme flex-row align-items-center">
	<div class="col-md-6" id="content">
		<div class='card'>
			<div class='card-body'>
				<div class="clearfix">
					<h1 class="float-left display-3 mr-4">
						<i class="bi bi-bug"></i>
						<span th:text="${status}"></span>
					</h1>
					<h4 class="pt-3" th:text="${error} + '!'">Oops! You're lost</h4>
					<p class="text-muted" th:if="${status} == 404">The page you are
						looking for was not found.</p>
					<p class="text-muted" th:if="${status} != 404" th:text="${message}">The
						page you are looking for was not found.</p>
				</div>

				<div class="text-center mt-1">
					<a th:href="@{/}" class="btn btn-outline-primary">Go to Home</a>
				</div>
			</div>
		</div>

	</div>
</body>
</html>